body{
  background-image: linear-gradient(to left,  #7e3878, #666699,#6b5b95,#7e3878);
  margin: 0px;
  padding: 0px;
}

#introContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

#browserContainer{  
  visibility: hidden;
  height: 100vh;

  #browserBar {
    .flex-container{
      padding: 0px 15px 15px 15px;
      background-image: linear-gradient(to left,  #7e3878, #666699,#6b5b95,#7e3878);
    }

    h1{
      color: white;
      margin-bottom: 0px;
    }

    input{
      color: white;
      border: none;
      background-color: transparent;
      width: 20%;
      border-bottom: 2px solid ghostwhite;
      margin-bottom: 0px;
    }

    button{
      background-color: transparent;
      border-radius: 10px;
      color: white;
      border-color: white;
      margin-bottom: 0px;
      margin-top: 10px;
      font-size: 12px;
    }

    i{
      position: absolute;
      right: 15px;
      margin: 15px;
    }

  }
  
  #contentFrame{
    width: 100%;
    height: 100%;
  }
}



.flex-container{
  display: flex;
  margin: auto;
  text-align: center;
}
h2{
  margin: 15px; font-size: 60px;
  font-family: Merriweather , serif;
}
.card{
  display: flex;
  padding: 20px;
}
input{
  border:none;
  background-color:transparent;
  margin: 15px  ;
  border-bottom: 2px solid black;
  width: 100%;
}
.button{
  background-color: transparent;
  border-radius: 10px;
  padding: 15px ;
  color: black;
  border-color: black;
}

